<p>firstpage works!</p>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <style>
    h1{
        color: red;
    }
    </style>

</head>
<body>

    <p></p>
    <h1></h1>
    <div id="mydiv"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6"></div>
            <div class="col-md-6"></div>
        </div>
    </div>
    <table>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
        </tr>
    </table>

      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque numquam dolor minus sit fugit vero, assumenda sed ab vitae laboriosam modi beatae laborum autem soluta repellendus natus corrupti fugiat! Architecto.</p>
      <p style="background-color: blue;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ex optio, blanditiis consectetur tenetur aperiam suscipit veniam reprehenderit cupiditate, incidunt itaque ut? Suscipit blanditiis ut pariatur culpa vitae rerum vel eaque?</p>
      <h1>welcome techie learning</h1>
      <h2>welcome techie learning</h2>
      <h3>welcome techie learning</h3>
      <h4>welcome techie learning</h4>
      <h5>welcome techie learning</h5>
      <h6><b>Hi dear !</b>welcome techie learning</h6>
      <br>
      <p> helloe dear !, <br> welocme to learning</p>
      <hr>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Magnam temporibus nam odit praesentium quisquam porro assumenda! A, voluptatibus debitis architecto ratione laudantium porro quaerat blanditiis, exercitationem harum, ab doloribus nesciunt.</p>
      <pre>
          function test(result) {
             
          }
      </pre>
      <ul>
          <li>option 1</li>
          <li>option 2</li>
          <li>option 3</li>
      </ul>

      <ol>
          <li>oprion 1</li>
          <li>oprion 2</li>
          <li>oprion 3</li>
      </ol>
      <hr>
    <!--  void element--> 
    <br>
    <hr>
     <img src="" alt="">
     <source>
   <!--  html attributes--> 
   <p style="text-align: left;">text hee</p>
   <p id="sfsa" title="title attribute"> dds fbfsbsd</p>
   
</body>
</html>