<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <h1>welcome to my website</h1>
    <p>rhis is the main content</p>
    <header>
        <h1>my website</h1>
        <nav>
            <ul>
                <li><a href="home">Home</a></li>
                <li><a href="about">About</a></li>
                <li><a href="contact">contact</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <article>
            <h2>Article Title</h2>
            <p>article content</p>
        </article>
    </main>
    <article>
        <h2>Article Title</h2>
        <p>Article content</p>
    </article>
    <section>
        <h2>section titile</h2>
        <p>section content</p>
    </section>
    <aside>
        <h2>Sidebar</h2>
        <p>Sidebar content</p>
    </aside>
    <footer>
        <p>&copy; 2024 my website</p>
    </footer>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta, sequi ratione architecto quaerat quisquam ipsa est, deserunt commodi pariatur nihil quos illo harum eius? Consectetur quidem hic ea fuga sapiente.</p>
     <br>
     <hr>
     <p style="color: red;">this text color highlighted</p>
     <p><marquee behavior="" direction="">some text goes here</marquee></p>
     <p>other text goes here <mark>highlighted</mark></p>
     <pre>
         function callmethod(result)
         {
             console.log(result)
         }
     </pre>
     <p> the code for loop is <code>
         for( i=0;i < 10 ;i++){

         }
     </code></p>


   <img src="image.jpg" alt="">
   <audio src=""></audio>
   <audio controls>
       <source src="audio.mp3" type="audio/mpeg">
   </audio>

   <video src="video.mp4"></video>
   <video controls>
       <source src="video.mp4" type="video/mp4">
   </video>
  <table>
      <tr>
          <th>header1</th>
          <th>heaer2</th>
      </tr>
      <tr>
          <td>1</td>
          <td>2</td>
          <td>3</td>
          <td>4</td>
      </tr>
  </table>

  <textarea name="" id="" cols="30" rows="10">Enter text here..</textarea>

<select name="" id="elements">
    <option value="car">car</option>
    <option value="bike"><bike/option>
</select>

<form action="" method="POST">
 <label for="name">Name</label>
 <input type="text" id="name" name="name" ><br><br>
<button type="submit">submit</button>    
</form>


</body>

</html>